<section class="py-20 px-4 bg-gradient-to-t from-[#D09162] to-[#FFF8F1] text-center text-white">
  <h2 class="text-3xl md:text-4xl font-bold mb-4">
    <span class="text-[#452317]">¿Tienes alguna pregunta?</span>
  </h2>
  <p class="text-base md:text-lg mb-8">
    Contáctanos directamente por WhatsApp para pedidos personalizados o cualquier consulta.
  </p>
  <button
    pButton
    type="button"
    label="Contactar por WhatsApp"
    class=" text-[#452317] font-medium px-6 py-3 rounded-md transition"
    (click)="openWhatsAppContact()"
    style="background-color: #452317; border: none; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);"
  ></button>
</section>
