<section class="py-20 px-4 bg-gradient-to-t from-[#D09162] to-[#FFF8F1] text-center">
  <h2 class="text-3xl md:text-4xl font-bold">
    <span class="text-[#452317]">Síguenos la Pista</span>
  </h2>

  <p class="mt-2 text-base md:text-lg text-[#704727]">
    Entérate de nuestras novedades y promociones.
  </p>

  <div class="mt-8 flex justify-center gap-8">
    <a
      href="https://www.facebook.com/Liriosycacao"
      target="_blank" rel="noopener noreferrer"
      aria-label="Abrir Facebook de Lirios y Cacao"
      class="text-[#452317] hover:text-[#704727] transition-transform hover:scale-110"
    >
      <i class="pi pi-facebook" style="font-size: 2.5rem"></i>
    </a>

    <a
      href="https://www.instagram.com/lirios_ycacao?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw=="
      target="_blank" rel="noopener noreferrer"
      aria-label="Abrir Instagram de Lirios y Cacao"
      class="text-[#452317] hover:text-[#704727] transition-transform hover:scale-110"
    >
      <i class="pi pi-instagram" style="font-size: 2.5rem"></i>
    </a>

    <a
      href="https://wa.me/45827110"
      target="_blank" rel="noopener noreferrer"
      aria-label="Abrir WhatsApp de Lirios y Cacao"
      class="text-[#452317] hover:text-[#704727] transition-transform hover:scale-110"
    >
      <i class="pi pi-whatsapp" style="font-size: 2.5rem"></i>
    </a>
  </div>
</section>
