<section class="py-20 bg-[#FFF8F1]">
  <div class="text-center mb-12 px-2">
    <h2 class="text-3xl md:text-4xl font-bold text-[#452317]">Nuestras Categorías</h2>
    <p class="text-[#704727] mt-2 text-sm md:text-base">
      Explora nuestra amplia variedad de productos artesanales, hechos con amor y los mejores ingredientes.
    </p>
  </div>

  <div class="flex flex-wrap justify-center gap-2 sm:gap-3 px-2">
    <div
      *ngFor="let cat of categories"
      class="w-40 sm:w-44 md:w-52
           bg-white rounded-xl border border-[#f0e5db]
           p-3 md:p-4 shadow-md hover:shadow-xl
           transform hover:scale-105 transition duration-300 ease-in-out
           flex flex-col items-center text-xs sm:text-sm md:text-base"
    >
      <div [ngClass]="cat.bg"
           class="w-full h-24 sm:h-28 rounded-xl flex items-center justify-center text-4xl">
        {{ cat.emoji }}
      </div>

      <h3 class="font-semibold text-[#452317] mt-2 text-center
               text-sm sm:text-base md:text-lg leading-snug">
        {{ cat.title }}
      </h3>

      <p class="text-[#704727] mt-1 text-center text-sm md:text-base leading-snug">
        {{ cat.desc }}
      </p>
    </div>
  </div>
</section>
