<div class="categories-container">
  <div class="categories-scroll">
    <div
      *ngFor="let category of categories"
      class="category-card"
      [class.active]="selectedCategory === category.id"
      (click)="selectCategory(category.id)"
    >
      <div class="category-image-wrapper">
        <img
          [src]="category.image"
          [alt]="category.name"
          class="category-image"
        />
      </div>
      <span class="category-name">{{ category.name }}</span>
    </div>
  </div>
</div>
