<div class="flex flex-col">
  <div class="sticky top-0 z-20 bg-[#FFF8F1] p-4 shadow-md">
    <app-search-bar (searchChanged)="onSearch($event)"></app-search-bar>
  </div>

  <div class="bg-[#FFF8F1] p-4 pt-4">
    <h2 class="text-xl font-bold ...">Categorías</h2>
    <app-category-filters
      [selectedCategory]="currentCategory"
      (categorySelected)="onCategorySelect($event)">
    </app-category-filters>
  </div>

  <div class="p-0">
    <app-products [products]="filteredProducts"></app-products>
  </div>
</div>
