<div>
<!--  <div class="hidden md:flex items-center justify-between px-6 py-2 shadow-sm fixed top-0 left-0 right-0 bg-white z-40">-->
  <div class="hidden md:flex items-center justify-between px-6 py-2 shadow-sm sticky top-0 bg-[#FFF8F1] z-40">

    <a class="layout-topbar-logo flex items-center" routerLink="/">
      <img src="assets/img/logo_cafe.png" alt="logo" class="h-18 w-auto object-contain mr-3" />
    </a>

    <div class="flex justify-center items-center gap-4">
      <div class="flex flex-col items-center cursor-pointer
            transition transform hover:scale-110 hover:text-[#452317] "(click)=irInicio()>
        <img src="assets/icons/inicio.svg" alt="inicio"
             class="w-7 h-5 mb-1 transition-transform duration-200" />
        <span class="text-sm">Inicio</span>
      </div>
      <div class="flex flex-col items-center cursor-pointer
            transition transform hover:scale-110 hover:text-[#452317]">
        <img src="assets/icons/chocofruta.svg" alt="chocofrutas" class="w-5 h-5 mb-1" />
        <span class="text-sm">Chocofrutas</span>
      </div>
      <div class="flex flex-col items-center cursor-pointer
            transition transform hover:scale-110 hover:text-[#452317]">
        <img src="assets/icons/helados.svg" alt="helados" class="w-5 h-5 mb-1" />
        <span class="text-sm">Helados</span>
      </div>
      <div class="flex flex-col items-center cursor-pointer
            transition transform hover:scale-110 hover:text-[#452317]">
        <img src="assets/icons/floristeria.svg" alt="Flor" class="w-5 h-5 mb-1" />
        <span class="text-sm">Floristería</span>
      </div>
      <div class="flex flex-col items-center cursor-pointer
            transition transform hover:scale-110 hover:text-[#452317]">
        <img src="assets/icons/eventos.svg" alt="Globos" class="w-5 h-5 mb-1" />
        <span class="text-sm">Eventos</span>
      </div>
    </div>

    <div class="relative flex flex-col items-center cursor-pointer" (click)="showCart()">
      <img src="assets/icons/carrito.svg" alt="Carrito" class="w-5 h-5 mb-1" />
      <span class="text-sm">Carrito</span>

      <span *ngIf="cartItemCount > 0" class="absolute -top-1 -right-2 bg-red-500 text-white text-[10px] font-bold rounded-full px-[6px] py-[2px] leading-none animate-bounce">
    {{ mostrarCantidadCarrito() }}
  </span>
    </div>

  </div>

  <div class="md:hidden fixed bottom-0 left-0 z-50 w-full h-16 bg-white border-t border-gray-200 flex justify-around items-center">

    <div
      class="flex flex-col items-center cursor-pointer
         transition transform duration-200
         hover:scale-110 hover:-translate-y-1
         active:scale-110 active:animate-bounce md:active:scale-100 md:active:animate-none"
    (click)="irInicio()">
      <img src="assets/icons/inicio.svg" alt="inicio" class="w-7 h-5 mb-1"  />
      <span class="text-xs">Inicio</span>
    </div>
    <div
      class="flex flex-col items-center cursor-pointer
         transition transform duration-200
         hover:scale-110 hover:-translate-y-1
         active:scale-110 active:animate-bounce md:active:scale-100 md:active:animate-none"
    >
      <img src="assets/icons/chocofruta.svg" alt="chocofrutas" class="w-5 h-5 mb-1" />
      <span class="text-xs">Chocofrutas</span>
    </div>
    <div
      class="flex flex-col items-center cursor-pointer
         transition transform duration-200
         hover:scale-110 hover:-translate-y-1
         active:scale-110 active:animate-bounce md:active:scale-100 md:active:animate-none"
    >
      <img src="assets/icons/helados.svg" alt="helados"
           class="w-5 h-5 mb-1 transition-transform duration-200" />
      <span class="text-xs">Helados</span>
    </div>
    <div
      class="flex flex-col items-center cursor-pointer
         transition transform duration-200
         hover:scale-110 hover:-translate-y-1
         active:scale-110 active:animate-bounce md:active:scale-100 md:active:animate-none"
    >
      <img src="assets/icons/floristeria.svg" alt="Flor" class="w-5 h-5 mb-1" />
      <span class="text-xs">Floristería</span>
    </div>
    <div
      class="flex flex-col items-center cursor-pointer
         transition transform duration-200
         hover:scale-110 hover:-translate-y-1
         active:scale-110 active:animate-bounce md:active:scale-100 md:active:animate-none"
    >
      <img src="assets/icons/eventos.svg" alt="Flor" class="w-5 h-5 mb-1" />
      <span class="text-xs">Eventos</span>
    </div>

    <div
      class="flex flex-col items-center cursor-pointer
         transition transform duration-200
         hover:scale-110 hover:-translate-y-1
         active:scale-110 active:animate-bounce md:active:scale-100 md:active:animate-none"
      (click)="showCart()"
    >
      <img src="assets/icons/carrito.svg" alt="Carrito" class="w-5 h-5 mb-1" />
      <span class="text-xs">Carrito</span>
      <span *ngIf="cartItemCount > 0" class="absolute -top-0 -right-0 bg-red-500 text-white text-[10px] font-bold rounded-full px-[6px] py-[2px] leading-none animate-bounce">
    {{ mostrarCantidadCarrito() }}
  </span>
    </div>

  </div>

</div>
